In [2]:
import pandas as pd
import numpy as np

In [7]:
df1 = pd.DataFrame(data = {'Company Name': 'Google',
                            'Major Business':'Mobile Web Search; Desktop Web Search; You Tube', 
                            'Revenue (billion)': 90.27,
                            'Gross Income (billion)': 54.6,
                            'Operating Income (billion)': 23.71,
                            'Stock Price (August 2017)': 915.89,
                            'Net Income (billion)': 19.74,
                            'Total Assets (billion)': 167.49,
                            'Employees (August 2017)': 75606}, index = [0])

In [8]:
df2 = pd.DataFrame(data = {'Company Name': 'IBM',
                            'Major Business':'Cognitive Solutions Software; Cloud Services and Infrastructure; Business Analytics and Optimization', 
                            'Revenue (billion)': 79.92,
                            'Gross Income (billion)': 37.59,
                            'Operating Income (billion)': 13.03,
                            'Stock Price (August 2017)': 143.74,
                            'Net Income (billion)': 11.88,
                            'Total Assets (billion)': 117.47,
                            'Employees (August 2017)': 379592}, index = [0])

In [9]:
df = df1.append(df2, ignore_index=True)
df.head()

,Company Name,Employees (August 2017),Gross Income (billion),Major Business,Net Income (billion),Operating Income (billion),Revenue (billion),Stock Price (August 2017),Total Assets (billion)
0,Google,75606,54.60,Mobile Web Search; Desktop Web Search; You Tube,19.74,23.71,90.27,915.89,167.49
1,IBM,379592,37.59,Cognitive Solutions Software; Cloud Services a...,11.88,13.03,79.92,143.74,117.47

In [10]:
df.to_csv('IBM_vs_Google_Data.csv', index = False)